html,body{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
}

#son1{
    height: 80px;
}

#son2_root{
    display: flex;

    flex-direction: column;

}

#son2_root_1{
    margin-top: 20px;
    justify-content: space-between;

}

#text{
    height: 170px;
}
