html,body{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
}

#son1{
    height: 80px;
}

#son2_root{
    display: flex;

}

#text{
    height: 170px;
}

